body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: black;
    color: white;
    padding: 30px 0;

}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    background-color: #333;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px;
}

nav a:hover {
    color: pink;
    background-color: #5c0303;
    border-radius: 5px; 
}
nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: pink;
}

.pic {
    height: 600px;
    background-size: cover;
}

main {
    background-color: rgb(130, 238, 184);
    padding: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
    
   
}

@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }
}
.project {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(224, 14, 42);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    font-family: 'Quicksand', sans-serif;
}
.project:hover {
    transform: scale(1.05); 
}
.project h2 {
    font-size: 1.8em;
    color: #fff;
    text-align: center;
}
.project a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}
.project a:hover {
    text-decoration: underline;
}
.project div {
    margin-bottom: 10px;
}
.project h4{
text-align: center;
}
.project h2{
    color: black;
}
    
